body {
    background-image: url('../images/halftone-yellow.png');
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.jumbotron {
    margin: 60px;
    background: rgb(255, 254, 224);
    overflow: auto;
}

.img-fluid {
    max-width: 50%;
    min-width: 175px;
}